body{
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
    box-sizing: border-box;
}

/* header */

header{
    margin: 0 auto;
    text-align: center;
    height: 800px;
    background: url(../images/banner.jpg);
    background-repeat: no-repeat;
    background-size: 100%;
}

header article{
    padding-top: 100px;
}

header h1{
    font-size: 4em;
    font-weight: bold;
    color: #fff;
    margin-bottom: 0;
}

header p{
    font-size: 1.1rem;
    font-weight: bold;
    margin-top: 0;
    color: #fff;
    opacity: 0.5;
}

header nav{
    width: 700px;
    margin: 0 auto;
    padding-top: 20px;
}

header nav ul{
    list-style: none;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

header nav li{
    padding: 5px;
}

header nav ul li a{
    color: #fff;
    opacity: 0.5;
    text-transform: uppercase;
    text-decoration: none;
}

header nav ul li a:hover{
    color: #fff;
    padding: 10px;
    opacity: 1;
    border:  1px solid #fff;
    border-radius: 20px;
}

/* main */

main .content{
    display: flex;
    justify-content: space-between;
    margin: 40px;
}

.content article{
    width: 900px;
    margin-right: 50px;
}

.content article h2{
    font-size: 2em;
    text-transform: uppercase;
    margin-bottom: 0;
    color: #4b4b4b;
}

.content article p{
    margin-top: 20px;
    font-weight: 500;
}

.content article p.sub{
    margin-top: 0;
}

.content article img{
    width: 1000px;
}

.content aside{
    width: 700px;
    float: right;
    margin-left: 30px;
}

.content aside h3{
    margin-top: 40px;
    text-transform: uppercase;
    color: #4b4b4b;
    margin-bottom: 45px;
}

.content aside .side{
    width: 600px;
    border-bottom: 1px solid #cacaca;
}

.content aside .side:last-child{
    border-bottom: none;
}

.content aside .side h5{
    color: #cacaca;
    text-transform: uppercase;
    font-size: 0.8em;
    font-weight: bold;
    margin: 20px 0 20px 0;
    padding-left: 30px;
}

.content aside .side-box{
    display: flex;
}

.content aside .side-box img{
    width: 300px;
    height: 50px;
    margin-top: 30px; 
    padding-left: 30px;
    padding-bottom: 10px;
}

.content aside .side .side-box p{
    font-size: 0.8em;
    line-height: 23px;
    margin-left: 25px;
    text-align: justify;
}

main .flex{
    display: flex;
    height: 600px;
    justify-content: center;
    align-items: center;
    padding-left: 30px;
    background-color: #f2f2f2;
}

.flex h4{
    font-size: 1.2rem;
    font-weight: bold;
    color: #515151;
}

.flex article{
    width: 500px;
    height: 400px;
    margin: 25px;
}

.flex article img{
   margin: 0 auto;
   width: 300px;
}

.flex article p{
    width: 300px;
}

.flex article button{
    color: #fff;
    width: 150px;
    height: 40px;
    border: none;
    font-weight: weight;
    margin-top: 20px;
    border-radius:50px;
    text-transform: uppercase;
    background-color: #e95d3c;
}

.container .box{
    width: 1000px;
}

/* footer */
footer{
    color: #fff;
    display: flex;
    align-items: center;
    justify-content: space-around;
    background-color: #1d1d1d;
}

footer h3{
    margin-top: 80px;
    text-transform: uppercase;
}

footer ul{
    list-style: none;
    padding-left: 0;
}

footer ul li{
    margin-top: 20px;
    padding-bottom: 10px;
    border-bottom: 1px solid #585858;
}

footer ul li:last-child{
   border-bottom: none;
}

footer ul li a{
    font-size: 0.7rem;
    font-weight: bold;
    color: #585858;
    text-decoration: none;
}