.titulo + p{
    font-style: italic;
}

.principal > p{
    font-size: 1.5rem;
}

h3{
    text-shadow: 1px 5px 3px lightgreen;
}

img{
    filter: sepia(60%);
}

p:last-child{
    font-weight: bold;
}

table, td, th{
    border: 1px solid #000;
}

tr:nth-child(2n){
    background-color: #999;
}

tr:nth-child(2n+1){
    background-color: lightgreen;
}

tr:hover{
    background-color: #555;
}

input{
    display: block;
    margin: 10px;
}

input[type="text"]{
    width: 400px;
}

input[name*="user"]{
    color: red;
}

.titulo + p::first-letter{
    font-size: 3em;
    float: left;
}

.efeito{
    border: 1px solid #000;
    height: 400px;
    width: 400px;
    margin: 50px auto;
    border-radius: 30px 90px 130px 5PX; /*PIZZA - 30px 90px 1330px*/
    box-shadow: 10px 30px 50px dodgerblue;
    background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(95,153,83,1) 100%, rgba(0,212,255,1) 100%);
    clip-path: polygon(50% 0%, 61% 35%, 98% 35%, 68% 57%, 79% 91%, 50% 70%, 21% 91%, 32% 57%, 2% 35%, 39% 35%);
}

button{
    min-width: 130px;
    height: 40px;
    color: #fff;
    padding: 5px 10px;
    font-weight: bold;
    cursor: pointer;
    transition: all 0.3s ease;
    position: relative;
    display: inline-block;
    outline: none;
    border-radius: 5px;
    border: none;
    background-size: 120% auto;
    background-image: linear-gradient(315deg, #43cea2 0%, #185a9d 75%);
    }

button:hover {
    background-position: right center;
}

button:active {
    top: 2px;
}
