body{
    font-family: Arial, Helvetica, sans-serif;
    box-sizing: border-box;
    margin: 0;
}

.container{
    background-color:#f0f0f0;
}

header{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 900px;
    margin: auto;
}

header .texto{
    border: 1px solid #000;
    height: 600px;
    margin-left: 50px;
}

header h1{
    font-weight: bold;
    color: #0d2935;
    float: initial;
}

header h1 span{
    color: #fa7d00;
}

header section{
    width: 500px;
    padding-left: 30px;
    color: #0d2935;
}

header section h2{
    font-size: 2rem;
    color: #0d2935;
    margin-top: 30px;
}

header section p{
    font-size: 1.3rem;
    color: #0d2935;
    margin-top: 30px;
}

/*header .container{
    display: flex;
    justify-content: space-between;
}*/

.banner{
    position: relative;
    margin-top: 10px;
    width: 800px;
    border: 1px solid #000;
}

.banner img{
    width: 100%;
    margin: 20px 0;
}

.banner figcaption{
    position: relative;
    top: 0;
    right: 0;
    padding: 5px;
    width: 500px;
    border-radius: 3px;
    font-size: 0.8rem;
    font-weight: bold;
    float: right;
}

.banner mark{
    color: #fa7d00;
    background-color: none;
}

nav{
    height: 40px;
    margin: 0;
    padding: 0;
    background-color: #0d2935;
}

nav ul{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    list-style: none;
    /*padding: 10px 0;*/
    padding-left: 0;
    padding-right: 0;
    width: 100%;
}

nav ul li {
    width: 180px;
    height: 30px;
    padding-top: 10px;
    padding-left: 15px;
    margin: 0;
}

nav ul li +{
    padding-right: 5px;
}

nav ul li:nth-child(4){
    padding-right: 100px;
}

nav ul li a{
    text-decoration: none;
    text-align: center;
    font-weight: bold;
    color: #fff;
}

nav ul li:hover{
    background-color: #fa7d00;
}

main{
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 800px;
    margin: auto;
    padding-top: 30px;
}

main .card{
    width: 320px;
    padding-left: 30px;
    border: 100px 10px #f0f0f0;
}

main figure {
    width: 250px;
    height: 200px;
    margin: 0;
}

main figure img{
    width: 100%;
    height: 200px;
}

main figure figcaption{
    color: red;
}

/*main figure div{
    height: 100px;
    color: #fff;
    margin-top: -1000px;
    margin-left: 1000px;
    padding-top: 0;
    background-color: #0d2935;
    border: 1px solid red;
    clip-path: polygon(0 47%, 100% 46%, 100% 75%, 55% 75%, 50% 100%, 46% 75%, 0% 75%);
}*/

main .card div {
    width: 250px;
    height: 180px;
    margin: auto;
}

main .card div p{
    margin-top: 50px;
    color:#0d2935;
    font-weight: 400;
}

main .botao-card{
    font-weight: bold;
    color: #fff;
    width: 100px;
    height: 30px;
    float: right;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    text-transform: uppercase;
    background-color: #fa7d00;
}

footer{
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-top: 30px;
    color: #fff;
    background-color: #0d2935;
}

footer .contato{
    width: 450px;
    height: 400px;
}

footer .inputs{
    width: 400px;
}

footer input{
    display: block;
    width: 100%;
    height: 20px;
    border: none;
    margin-top: 10px;
    color:  #cccccc;
    background-color: #000d1a;
}

footer textarea{
    display: block;
    width: 100%;
    height: 150px;
    border: none;
    margin-top: 10px;
    color:  #cccccc;
    background-color: #000d1a;
}

footer .inputs input[type="submit"]{
    width: 50px;
    height: 20px;
    color: #fff;
    border: none;
    float: right;
    cursor: pointer;
    margin-top: 10px;
    border-radius: 5px;
    background-color: #fa7d00;
}

footer .inputs input[type="submit"]:hover{
    opacity: 0.9;
}

footer::placeholder{
    color:  #e6e6e6;
}

footer .linha{
    height: 280px; 
    margin-right: 30px;
    margin-top: 30px;
    margin-left: 0;
    border: 2px solid #000d1a;
}

footer .cobertura{
    width: 400px;
    height: 320px;
}

footer .cobertura table{
    width: 400px;
    height: 150px;
    font-weight: bold;
    background-color: #000d1a;
}

footer .cobertura table td:nth-child(2n+1){
    width: 40%;
    padding-left: 10px;
}

footer .cobertura table td:nth-child(2n){
    width: 60%;
    padding-left: 10px;
}

footer .cobertura p{
    width: 400px;
}

footer .cobertura .social{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-top: 8px;
    float: right;
    width: 50px;
}